body{
    background-image: linear-gradient(to bottom right, #dcf1f7, #72afc2);
}
#logo {
    width: 50px;
    height: 50px;
}
.nav-item {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
#intro{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    text-align: center;
    color:#456a75;
    text-shadow: 2px 2px 5px red;
    margin-top: auto;
    padding-top: 100px;
}
#logo2{
    display:block;
    width:200px;
    height:200px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#arrowdown{
    color: #456a75;
}
#aboutpic{
    width: 290px;
    height: 354px;
}
#aboutpic:hover{
    transition:0.2s;
    transform:scale(1.1);
}
#label{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color:#456a75;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 50px;
}
#about{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color:#456a75;
}
#aboutcol1{
    padding-bottom: 100px;
    padding-top: 100px;
}
.h_line {
    border-bottom: 6px solid rgb(80, 80, 78);
    width: 300px;
    margin: auto;
}
.h_line2 {
    border-bottom: 6px solid rgb(80, 80, 78);
    width: 700px;
    margin: auto;
}
#portfolio{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color:#456a75;
    margin:auto;
    padding:40px;
}
.card .card-img-top{
    width:285px;
    height:250px;
}
.card:hover{
    box-shadow: 2px 2px 5px red;
}
#contact{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color:#456a75;
    font-size: 15px;
    text-align: center;
}
#contact a{
    color:#456a75;
}
#contact i{
    font-size: 30px;
}
.card .card-img-top:hover{
    box-shadow:inset 1px 2px 4px rgba(255,0,0,0.47),
    inset 1px 4px 8px rgba(255,0,0,0.47),
    inset 1px 8px 16px rgba(255,0,0,0.47);
    transition:0.2s;
    transform:scale(1.1);
}
.btn{
    background-color: #589da8;
}
.btn:hover{
    background-color: #72afc2;
    color:grey;
}
.card{
    background-color: aliceblue;
    border-radius: 1px;
    border-color: #72afc2;
    flex: auto;
}
#sketches img{
    width:500px;
    height: 500px;
    padding: 30px;
    border: red solid;
    border-radius: 90px;
}
#sketches{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color:#589da8;
    margin: auto;
}
#adobe img{
    width:500px;
    height: 500px;
    padding: 20px;
    border-radius: 90px;
    border: #589da8 solid;
}
#adobe{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color:#456a75;
    margin: auto;
}
#resume{
    color:cornflowerblue;
}
#link{
    color:cornflowerblue;
}
#resume:hover{
    color:coral;
}
#link:hover{
    color:coral;
}
#portcol{
    padding:100px;
}
.brandlogo{
    padding:100px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }